{% load static %}
<section id="features" class="section-padding">
    <div class="container">
      <div class="section-header text-center">          
        <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Funcionalidades</h2>
        <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="content-left">
            <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
              <span class="icon">
                <i class="lni-rocket"></i>
              </span>
              <div class="text">
                <h4>Deploy</h4>
                <p>Não mostramos apenas protótipos nas entregas e sim sua aplicação rodando na Internet.</p>
              </div>
            </div>
            <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">
              <span class="icon">
                <i class="lni-laptop-phone"></i>
              </span>
              <div class="text">
                <h4>Apps Responsivos</h4>
                <p>As páginas web vão se adequar a uma grande variedade de dispositivos e tamanho de janelas.</p>
              </div>
            </div>
            <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">
              <span class="icon">
                <i class="lni-cog"></i>
              </span>
              <div class="text">
                <h4>Qualidade</h4>
                <p>Nossa equipe se empenha em atender a todos os requisitos por meio de inúmeros testes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
            <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="content-right">
            <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
              <span class="icon">
                <i class="lni-leaf"></i>
              </span>
              <div class="text">
                <h4>Design Moderno</h4>
                <p>Sempre teremos um UI/UX designer em nosso time para desenvolver algo inovador e elegante.</p>
              </div>
            </div>
            <div class="box-item wow fadeInRight" data-wow-delay="0.6s">
              <span class="icon">
                <i class="lni-layers"></i>
              </span>
              <div class="text">
                <h4>Interatividade</h4>
                <p>Não basta apenas ter um app. Ele precisa de escalabilidade ao interagir com as APIs.</p>
              </div>
            </div>
            <div class="box-item wow fadeInRight" data-wow-delay="0.9s">
              <span class="icon">
                <i class="lni-leaf"></i>
              </span>
              <div class="text">
                <h4>Green Tech</h4>
                <p>Uma parcela dos lucros será automaticamente direcionada a uma das instituições cadastradas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>